<div class="box" [ngStyle]="{
    'width.%': getLargeurValeur()
}">
    <div class="filterList">
        <button *ngFor="let buttonFilter of buttonFilters" class="filterBtn"
            (click)="activateBtnFilter($event);filter(buttonFilter);">{{buttonFilter}}</button>
    </div>
</div>
<div>
    <label for="largeur">largeur</label>
    <input type="range" min="10" max="100" value="20" [(ngModel)]="largeurValeur">
</div>

<p> Valeur de la largeur : {{ largeurValeur }}</p>
<div class="timeline">
    <div class="timelineCard" *ngFor="let experience of experiences | aboutExperienceFilter:aboutExperienceFilterArgs">
        <div class="dateContent">
            <span>{{experience.date}}</span>
        </div>
        <div class="experienceContent">
            <h1> {{experience.title}} </h1>
            <h2> {{experience.location}} </h2>
            <p> {{experience.description}} </p>
            <div class="filterList">
                <button *ngFor="let experienceKeyword of experience.keywords"
                    (click)="activateBtnFilter($event);filter(experienceKeyword)">{{experienceKeyword}}</button>
            </div>
        </div>
    </div>
</div>