<div>
    <div class="filterList">
        <button *ngFor="let buttonFilter of buttonFilters" class="filterBtn"
            (click)="activateBtnFilter($event);filter(buttonFilter);">{{buttonFilter}}</button>
    </div>
</div>

<div class="timeline">
    <div class="timelineCard" *ngFor="let experience of experiences | aboutExperienceFilter:aboutExperienceFilterArgs">
        <div class="dateContent">
            <time datetime="2014-09-20" class="expDate">
                <em class="expDay">{{ experience.yearBeginDate }}</em>
                <strong class="expMonth">{{ experience.monthBeginDate}}</strong>
                <span class="expNumberDay">{{experience.dayOfMonthBeginDate}}</span>
            </time>
            <span class="expDateArrow">&#8669;</span>
            <time datetime="2014-09-20" class="expDate">
                <em class="expDay">{{ experience.yearEndDate }}</em>
                <strong class="expMonth">{{ experience.monthEndDate}}</strong>
                <span class="expNumberDay">{{experience.dayOfMonthEndDate}}</span>
            </time>

                <!--<span>{{experience.beginDate}}</span>
                 <span>{{experience.endDate}}</span> <------>
        </div>
        <div class="expVerticalLine"></div>
        <div class="experienceContent">
            <h1> {{experience.title}} </h1>
            <h2> <i class="fa fa-map-marker"></i> {{experience.location}} </h2>
            <p> {{experience.description}} </p>
            <div class="filterList">
                <button *ngFor="let experienceKeyword of experience.keywords"
                    (click)="activateBtnFilter($event);filter(experienceKeyword)">{{experienceKeyword}}</button>
            </div>
        </div>
    </div>
</div>