.box{
    border: 2px solid black;
    min-width: 10%;
    max-width: 100%;
    padding: 0.5rem;
}

.filterBtn{
    background-color: #FFF;
    color: #c2c7d4;
    border: 2px #c2c7d4 solid;
    padding: 0.5rem;
    margin: 0.2rem;
    outline: none;
}

.filterBtn:hover, .activated{
    background-color: #77d1d2;
    color: #FFF;
    border: 2px #c2c7d4 solid;
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* just make scrollbar invisible */
}

.timeline{
    margin: 2rem;
    overflow-y:scroll;
    height:100vh;
}

.timelineCard{
    max-width: 150%;
    display: flex;
}

/*.timelineCard > div{
    padding: 2rem;
}*/

.dateContent{
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
}

.expVerticalLine {
    //border-left: 0.5rem solid blue;
    min-height: 100%;
    min-width: 1rem;
    background: linear-gradient(#eeaeca, #94bbe9, #eeaeca);
}

.experienceContent{
    padding: 0 4rem 4rem 4rem;
}
  
.expDate{
user-select: none;
    font-size: 1.5rem; /* change icon size */
    display: block;
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
}
  
.expDate *{
    display: block;
    width: 100%;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.expMonth{
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

.expDay{
    position: absolute;
    bottom: 0.3em;
    color: #fd9f1b;
}

.expNumberDay{
    font-size: 2em;
    letter-spacing: -0.05em;
    padding-top: 38%;
    color: #2f2f2f;
}

.expDateArrow{
    font-size:8rem;
    background: -webkit-linear-gradient(#ff97cb, #5e65af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}