.photoContainer{
    overflow-y:scroll;
    height:80vh;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* just make scrollbar invisible */
}

.photosList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.photoListElement {
    margin: 1rem;
    height: 30vh;
    flex-grow: 1;
}

.photoListElement:last-child {
    flex-grow: 10;
}

.photo {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border: 0.5rem solid black;
    transition: all 0.5s ease-in-out;
}

.photo:hover {
    box-shadow: 0.5rem 0.5rem 0.25rem grey;
    transform: scale(1.02);
    border: 0rem solid white;
}

.bluredPhoto{
    filter: saturate(40%);
    //filter: blur(0.2rem);
}

.modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    z-index: 1000;
}
  
.modal-content {
    max-width: 75vw;
    margin: 15vh auto 0 auto;
    background-color: black;
}

.imgSlide{
    border: 2px solid white;
    max-width: 100%;
    max-height: 75vh;
    display:block;
    margin:auto;
}

.close {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 7rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: hsl(0, 100%, 67%);
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
  
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 30vh; // vertical placing of arrow
    color: white;
    font-weight: bold;
    font-size: 4rem;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    text-decoration:none;
    padding: 2rem; // size of background while hovering
}
  
.prev {
    left: -10rem;
    border-radius: 1rem;
}

.next {
    right: -10rem;
    border-radius: 1rem;
}
  
  /* On hover, add a white background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.caption-container {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 2rem; /* Some padding */
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}