<div class="filterList">
    <button *ngFor="let buttonFilter of buttonFilters" class="filterBtn"
        (click)="filter($event)">{{buttonFilter}}</button>
</div>
<div class="timeline">
    <div class="timelineCard" *ngFor="let experience of experiences | experienceFilter:experienceFilterArgs">
        <div class="dateContent">
            <time datetime="2014-09-20" class="expDate">
                <em class="expDay">{{ experience.yearBeginDate }}</em>
                <strong class="expMonth">{{ experience.monthBeginDate}}</strong>
                <span class="expNumberDay">{{experience.dayOfMonthBeginDate}}</span>
            </time>
            <span class="expDateArrow">&#8669;</span>
            <time datetime="2014-09-20" class="expDate">
                <em class="expDay">{{ experience.yearEndDate }}</em>
                <strong class="expMonth">{{ experience.monthEndDate}}</strong>
                <span class="expNumberDay">{{experience.dayOfMonthEndDate}}</span>
            </time>
        </div>
        <div class="expVerticalLine"></div>
        <div class="experienceContent">
            <h1> {{experience.title}} </h1>
            <h2> <img class="companyImg" src="assets/experiencesImages/{{experience.company}}.png"></h2>
            <h3> <i class="fas fa-map-marker-alt"></i>{{experience.location}} </h3>
            <p> {{experience.description}} </p>
            <div>
                <span class="expKeyword" [ngClass]="{'keywordActivated' : activateKeyword(experienceKeyword)}"
                    *ngFor="let experienceKeyword of experience.keywords">{{experienceKeyword}}</span>
            </div>
        </div>
    </div>
</div>