<div class="header">
	<nav class="navbar navbar-expand">
		<div>
			<ul class="nav">
				<li class="navItem">
					<a class="text-decoration-none" routerLinkActive='active' [routerLink]="['/welcome']">
						<span class="fa fa-home"></span>
						<span class="link">Accueil</span>
					</a>
				</li>
				<li class="navItem">
					<a class="text-decoration-none" routerLinkActive='active' [routerLink]="['/photo']">
						<span class="fa fa-camera-retro"></span>
						<span class="link">Photos</span>
					</a>
				</li>
				<!--<li class="navItem">
					<a class="text-decoration-none" routerLinkActive='active' [routerLink]="['/video']">
						<span class="fa fa-film"></span>
						<span class="link">Vidéos</span>
					</a>
				</li>
				<li class="navItem">
					<a class="text-decoration-none" routerLinkActive='active' [routerLink]="['/project']">
						<span class="fa fa-rocket"></span>
						<span class="link">Projets</span>
					</a>
				</li>-->
				<li class="navItem">
					<a class="text-decoration-none" routerLinkActive='active' [routerLink]="['/experiences']">
						<span class="fa fa-address-card"></span>
						<span class="link">Parcours</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>