<div class="header">
	<div class="logo">
		<span>J</span>
		<span>o</span>
		<span>r</span>
		<span>i</span>
		<span>s</span>
		<span> </span>
		<span>M</span>
		<span>I</span>
		<span>C</span>
		<span>H</span>
		<span>E</span>
		<span>L</span>
	</div>
	<nav class="navbar navbar-expand">
		<div>
			<ul class="nav navbar-nav">
				<li>
					<a routerLinkActive='active' [routerLink]="['/welcome']">
						<span class="fa fa-home"></span>
						<span class="link">Accueil</span>
					</a>
				</li>
				<li>
					<a routerLinkActive='active' [routerLink]="['/photo']">
						<span class="fa fa-camera-retro"></span>
						<span class="link">Photos</span>
					</a>
				</li>
				<li>
					<a routerLinkActive='active' [routerLink]="['/video']">
						<span class="fa fa-film"></span>
						<span class="link">Vidéos</span>
					</a>
				</li>
				<li>
					<a routerLinkActive='active' [routerLink]="['/project']">
						<span class="fa fa-rocket"></span>
						<span class="link">Projets</span>
					</a>
				</li>
				<li>
					<a routerLinkActive='active' [routerLink]="['/experiences']">
						<span class="fa fa-address-card"></span>
						<span class="link">Experiences</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>