<div id="homePageSection" class="parallax homePageSection"></div>
<div class="foregroundHomePageText"><span class="aboutMeJorisText">Joris</span><br /><span class="aboutMeWebDevText">Développeur web</span></div>
<div class="homePageTextContainer aboutMeContainer">
    <div class="aboutMeText">
        <p>Bonjour, actuellement dévelopeur logiciel à Toulouse, je profite de mon immigration au Québec pour m'orienter vers le développement web.
        <br />C'est pourquoi j'ai créé ce portfolio afin de me former aux technologies du web.   </p>
    </div>
</div>
<div class="homePageTextContainer homeSkillContainer">
    <h1 class="mySkills">Mes compétences</h1>
    <div class="allSkillContainer" id="allSkillContainer">
        <i class="fas fa-code skillBadge" [ngClass]="{'skillBadgeActivated' : skillVisible}"></i>
        <i class="fas fa-palette skillBadge" [ngClass]="{'skillBadgeActivated' : skillVisible}"></i>
        <i class="fas fa-football-ball skillBadge" [ngClass]="{'skillBadgeActivated' : skillVisible}"></i>
        <div class="skillContainer" [ngClass]="{'skillContainerActivated' : skillVisible}" *ngFor="let skill of skills">
            <div class="skillText skillName">{{skill.skillName}}</div>
            <div class="skill" [ngClass]="{'skillActivated' : skillVisible}"></div>
            <div class="skillText skillPercentValue">{{skill.skillPercentValue}}%</div>
        </div>
    </div>
</div>
<div class="parallax hobbiesSection">
    <div class="cutoutHobbiesText">Loisirs</div>
    <div class="hobbiesTextContainer">
        <div class="hobbiesText"> Voir mes hobbies </div>
    </div>
</div>