.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.homePageTextContainer{
    color: #4e4e4e;
    text-align:center;
    padding:2rem;
    text-align: justify;
}

.homePageSection{
    min-height: 125%; 
    background-image: url("../../assets/welcomeImages/Laponie-0147.png");
    opacity: 0.95;
    filter: blur(0.3rem) saturate(70%);
}

.foregroundHomePageText{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    font-size: 5vw;
    color: white; 
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
}

/*.foregroundHomePageText > span{
    //background: -webkit-linear-gradient(#ff97cb, #5e65af);
    background: -webkit-linear-gradient(45deg, #ff97cb, #5e65af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 2s ease-in-out;
    user-select: none;
}*/

.aboutMeJorisText, .aboutMeWebDevText{
	display: inline-block;
	position: relative;
    padding: 0.2rem;
    color: rgba(86, 221, 255, 0.9);
}

.aboutMeJorisText:before {
	content: "Joris";
    position: absolute; 
    left: -0.2rem; 
    top: -0.1rem;
    color: rgba(146, 88, 255, 0.7);
    z-index: -1;
}

.aboutMeJorisText:after {
	content: "Joris";
    position: absolute; 
    left: 0.5rem; 
    top: 0.5rem;
    color: rgba(255, 73, 185, 0.9);   
    z-index: 1;
}

.aboutMeWebDevText:before {
	content: "Développeur web";
    position: absolute; 
    left: -0.1rem; 
    top: -0.1rem;
    color: rgba(146, 88, 255, 0.7);
    z-index: -1;
}

.aboutMeWebDevText:after {
	content: "Développeur web";
    position: absolute; 
    left: 0.4rem; 
    top: 0.4rem;
    color: rgba(255, 73, 185, 0.9); 

}

.aboutMeWebDevText:hover:after, .aboutMeJorisText:hover:after{
    animation: shake 0.6s infinite ease-in-out -0.4s;
}
    
.aboutMeWebDevText:hover:before, .aboutMeJorisText:hover:before{
    animation: shake 0.6s infinite ease-in-out -0.2s;
}

.aboutMeWebDevText:hover, .aboutMeJorisText:hover{
    animation: shake 0.6s infinite ease-in-out; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.aboutMeContainer{
    background-color:white;
    //margin: 0 auto;
}

.aboutMeText{
    text-align: center;
    color: white;

     /*stitching*/
    outline: 0.2rem dashed #98abb9;
    outline-offset: -0.5rem;
 
    background-color: #143a55;
    padding: 2rem;
    font-size: 1.5vw;

    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
}

.homeSkillContainer{
    background-color:#F5F5F5;
}

.homePageTitle{
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: underline overline double #05C2C9;
}

.allHomeSkillContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.skillBadge{
    margin-bottom: 2rem;
    font-size: 5rem;
    margin: 0 auto 2rem;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    padding: 2rem;
    background-color: #05C2C9;
    color: white;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.skillBadgeActivated{
    opacity: 1;
}

.skillContainer {
    background-color: #ddd;
    height: 2rem;
    margin: 1rem;
    transition: transform 1.5s ease-in-out, opacity 2s ease-in-out;
    opacity: 0;
    transform: translateX(-500%);
}

.skillContainerActivated{
    opacity: 1;
    transform: translateX(0);
}

.skillText{
    display: inline-block;
    background-color: #05C2C9;
    text-align: center;
    vertical-align: top;
    min-height: 100%;
    line-height: 2rem;
    font-weight: bold;
    color: white;
}

.skillName{
    padding: 0 0.2rem 0 0.2rem;
    min-width: 20%;
}

.skillPercentValue{
    min-width: 10%;
    float:right;
}

.skill{
    vertical-align: top;
    display: inline-block;
    width: 0%;
    max-width: 70%;
    min-height: 100%;
    color: white;
    background-color: #077377;
    transition: width 2s ease-in-out 1s;
}

.cutoutHobbiesText {
    background-color: white;
    color: black;
    font-size: 10vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 1rem;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }


.allHomeProjectContainer{
    //border: 2px solid black;
    display: flex;
}

.homeSkewedProjectContainer {
    backface-visibility: hidden;
    transform: skew(-16deg, 0);
    overflow:hidden;
    max-width:20rem;
    max-height: 30rem;
    position:relative;
    left:10rem;
}

.homeSkewedProjectContainer:hover .timePlankHomeImg{
    max-width:140%;
}

.homeSkewedProjectContainer:hover .timePlankForegroundText{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(48, 48, 48, 0.8); /* color w/opacity/see-through */
    color: white; 
    border: 3px solid #f1f1f1;
}

.homeSkewedProjectContainer:hover .fairDrawHomeImg{
    max-width:150%;
}

.homeSkewedProjectContainer:hover .fairDrawForegroundText{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(212, 212, 212, 0.8); /* color w/opacity/see-through */
    color: black; 
    border: 3px solid black;
}

.timePlankHomeContainer{
    background-color: black;
}

.fairDrawHomeContainer{
    background-color: #F8E4AF;
}

.homeSkewProjectImg {
    transform: skew(16deg, 0);
    transition: all 0.5s ease-in-out;
}

.timePlankHomeImg{
    max-width:130%;
}

.fairDrawHomeImg{
    max-width:145%;
}

.foregroundHomeProjectText{
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 2rem;
    text-align: center;
    border-radius: 2rem;
    transform: skew(16deg, 0);
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.fairDrawForegroundText{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* color w/opacity/see-through */
    color: white; 
    border: 3px solid #f1f1f1;
}

.timePlankForegroundText{
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgb(255, 255, 255, 0.8); /* color w/opacity/see-through */
    color: black; 
    border: 3px solid #f1f1f1;
}

.projectModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.projectModalContent {
    max-width: 70vw; 
    margin: auto;
    margin-top: 25vh;
    transform: translateY(-25%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 1rem 0 2rem 0;
}
  
.mobileProjectImgSlideshow > img {
    max-width: 100%;
    max-height: 60vh;
    margin: 0.1rem;
}

.ionic{
	width: 8em;
	height: 3em;
	margin: 0 0 1em 0;
}

.typeScript{
	width: 5em;
	height: 3em;
	border-radius: 25%;
}

.projectModalTitle {
    color: grey;
    font-size: 1.5rem;
}

.linkToProjectSrc{
    margin: 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
    background-color: black;
    padding : 0.5rem;
    font-size: 1.5rem;
}

.linkToProjectSrc:hover{
    opacity: 0.7;
}

.ProjectSrcIcon{
    font-size: 2rem;
    color: white;
}

.slideshow-container {
    max-width: 50vw;
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
    padding: 0 2rem 0 2rem;
}

.webProjectImgSlideshow, .mobileProjectImgSlideshow{
    border-bottom: 0.2rem solid black;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    user-select: none;
    padding: 0.5rem;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}
  
.prev {
    left: 0;
    border-radius: 0.5rem 0 0 0.5rem;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.projectImgSlideshowFade {
    animation-name: projectImgSlideshowFade;
    animation-duration: 2s;
}
  
@keyframes projectImgSlideshowFade {
    from {opacity: 0.4}
    to {opacity: 1}
}

.photosSection{
    min-height: 100%; 
    background-image: url("../../assets/welcomeImages/Laponie-0147.png");
    opacity: 0.95;
    //filter: blur(0.3rem) saturate(70%);
}

.cutoutText {
    background-color: white;
    color: black;
    font-size: 10vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 0.5rem;
    width: 80%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}

.btnViewPhotos{
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    padding: 0.5rem 7rem 0.5rem 7rem;
    position: absolute; /* Position text */
    top: 80%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    transition: all 0.5s ease-in-out;
    color: #292929;
    border: none; 
    border-radius: 2rem;
    background-size: 200% 100%; 
    background-position: 200% 0; 
	background-image: linear-gradient(to right, #fff 50%, #05C2C9 50%); 
}

.btnViewPhotos:hover{
    background-position: 100% 0; 
}

.btnViewPhotos span {
    display: inline-block;
    transition: 0.5s ease-in-out;
}
  
.btnViewPhotos:hover span {
    transform: translateX(-50%);
    color:white;
}


.btnViewPhotos span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transform: translateX(-1000%);
    transition: 0.5s ease-in-out;
}

.btnViewPhotos:hover span:after {
    opacity: 1;
    transform: translateX(200%);
    color:white;
}

