<div id="homePageSection" class="parallax homePageSection"></div>
<div class="foregroundHomePageText">
    <span class="aboutMeJorisText">Joris</span>
    <br />
    <span class="aboutMeWebDevText">Développeur web</span>
</div>
<div class="homePageTextContainer aboutMeContainer">
    <div class="aboutMeText">
        <p>Bonjour, actuellement dévelopeur logiciel à Toulouse, je profite de mon immigration au Québec pour m'orienter
            vers le développement web.
            <br />C'est pourquoi j'ai créé ce portfolio afin de me former aux technologies du web. </p>
    </div>
</div>
<div class="homePageTextContainer homeSkillContainer">
    <h1 class="homePageTitle">Mes compétences</h1>
    <div class="allHomeSkillContainer" id="allHomeSkillContainer">
        <i class="fas fa-code skillBadge" [ngClass]="{'skillBadgeActivated' : skillVisible}"></i>
        <i class="fas fa-palette skillBadge" [ngClass]="{'skillBadgeActivated' : skillVisible}"></i>
        <i class="fas fa-football-ball skillBadge" [ngClass]="{'skillBadgeActivated' : skillVisible}"></i>
        <div class="skillContainer" [ngClass]="{'skillContainerActivated' : skillVisible}" *ngFor="let skill of skills">
            <div class="skillText skillName">{{skill.skillName}}</div>
            <div class="skill" [ngClass]="{'skillActivated' : skillVisible}"></div>
            <div class="skillText skillPercentValue">{{skill.skillPercentValue}}%</div>
        </div>
    </div>
</div>
<div class="homePageTextContainer homeProjectContainer">
    <h1 class="homePageTitle">Mes projets</h1>
    <div class="allHomeProjectContainer">
        <div (click)="openProjectModal()" class="homeSkewedProjectContainer timePlankHomeContainer">
            <img class="homeSkewProjectImg timePlankHomeImg" src="assets/projectImages/gym1.png" />
            <div class="foregroundHomeProjectText timePlankForegroundText">
                <span>TimePlank</span>
            </div>
        </div>
        <div class="homeSkewedProjectContainer fairDrawHomeContainer">
            <img class="homeSkewProjectImg fairDrawHomeImg" src="assets/projectImages/fairDraw7.jpg" />
            <div class="foregroundHomeProjectText fairDrawForegroundText">
                <span>FairDraw</span>
            </div>
        </div>
    </div>
</div>

<div id="projectModal" class="projectModal">
    <div class="projectModalContent">
        <div class="projectImgSlideshow">
            <img src="assets/welcomeImages\projectScreenShot\TimePlank\timePlank1.png">
        </div>
        <h1>John Doe</h1>
        <p class="title">CEO & Founder, Example</p>
        <p>Harvard University</p>
        <a class="linkToProjectSrc" href="#"><i class="ProjectSrcIcon fab fa-android"></i> </a>
        <a class="linkToProjectSrc" href="#"><i class="ProjectSrcIcon fab fa-github"></i> </a>
    </div>
</div>