.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cutoutHomePageText{
    background-color: white;
    color: black;
    font-size: 5vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
}

.cutoutHobbiesText {
    background-color: white;
    color: black;
    font-size: 10vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }

.homePageSection{
    min-height: 125%; 
    background-image: url("../../assets/welcomeImages/Laponie-0147.png");
    opacity: 0.95;
    filter: saturate(70%);
}

.personnalProjectSection{
    min-height: 80%; 
    background-image: url("../../assets/photos/large/Laponie-0173.jpg");
}

.hobbiesSection{
    min-height: 100%; 
    background-image: url("../../assets/photos/large/Laponie-0247.jpg");
}

.homePageTextContainer{
    position: absolute;
    left: 20%;
    top: 20%;
    max-width: 100%;
    text-align: center;
}

.homePageText{
    background-color: #111;
    color: #fff;
    font-size:2rem;
    padding: 1rem;
}

.homeSkillContainer{
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}