<!-- TODO make design of section 1 Timeplanck -->
<!-- TODO make design of section 2 FairDraw -->
<!-- TODO make design of section 3 CanadApp -->
<!-- TODO make design of section 4 fitbitAppli -->

<div id="myContainer">

    <div class="ms-left">
        <div class="ms-section section1">
            <div class="graduated"></div>
            <div class="fullscreen">
                <div class="timeplanck">
                    <h1>TimePlanck</h1>
                    <h2>Application Android créée avec le framework <img src="../../assets/projectImages/ionic3.png"
                            alt="Ionic 3"></h2>
                    <p>
                        Minuteur permettant de régler des séries d'exercices entrecoupées de séries de repos
                    </p>
                    <a href="#" matTooltip="Aller sur la page Google Play de TimePlanck" [matTooltipShowDelay]="400"
                        [matTooltipHideDelay]="100">
                        <i class="fab fa-android"></i>
                    </a>
                    <a href="#" matTooltip="Aller sur la page Github de TimePlanck" [matTooltipShowDelay]="400"
                        [matTooltipHideDelay]="100">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="ms-section section2">
        </div>
        <div class="ms-section section3">
            <div class="content">
                <h1>Application 3</h1>
                <h2>Une super application 3</h2>
            </div>
        </div>
    </div>
    <div class="ms-right">
        <div class="ms-section section1">
        </div>
        <div class="ms-section section2">
            <div class="fairDraw">
                <h1>FairDraw</h1>
                <h2>Extension Chrome codée en <img src="../../assets/projectImages/typescript-2.0.jpg" alt="TypeScript">
                </h2>
                <p>
                    Tirage au sort "équitable" éliminant les anciens élus du prochain tirage
                </p>
                <a href="#" matTooltip="Aller sur la page Chrome de l'extension FairDraw" [matTooltipShowDelay]="400"
                    [matTooltipHideDelay]="100">
                    <i class="fab fa-chrome"></i>
                </a>
                <a href="#" matTooltip="Aller sur la page Github de FairDraw" [matTooltipShowDelay]="400"
                    [matTooltipHideDelay]="100">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="ms-section section3">
            <h1>coté droit 3</h1>
        </div>
    </div>
</div>