#myContainer{
  	position: static;
  	z-index: -999;
}

/* Custom CSS
 * --------------------------------------- */
h1{
	font-size: 4em;
}
h2{
	font-size: 1.6em;
}
p{
	font-size: 1.5em;
}

.ms-left .section1 .fullscreen{
	top:23%;
}

.fa-github, .fa-android{
	font-size: 5em;
	padding : 1em;
}

.fa-chrome{
	font-size: 4em;
	padding : 1em;
}

/* Section 1 TimePlanck
 * --------------------------------------- */
.section1{
	background:#000;
}

.section1 .fa-github, .section1 .fa-android{
	color: white;
}

.ms-right .section1{
  	background-image: url("../../assets/projectImages/gym1WithoutHands.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}

.timeplanck{
	left: 30%;
	width: 90%;
	height: 30em;
	text-align: center;
	vertical-align: middle;
}

.timeplanck + .tooltip > .tooltip-inner {
	background-color: #73AD21;
	color: #FFFFFF;
	border: 1px solid green;
	padding: 15px;
	font-size: 20px;
  }

  /* Tooltip on top */
.timeplanck + .tooltip.top > .tooltip-arrow {
	border-top: 5px solid green;
  }

.section1 h1{
	color: white;
}

.section1 h2{
	margin: 1.5em 0 0 0;
  	color: #a7a7a7;
  	display: linline; 
}

.section1 h2 img{
	width: 8em;
	height: 3em;
	margin: 0 0 1em 0;
}

.section1 p{
	margin: 1em 0 0 0;
	color: #8a8a8a;
}

/* Section 2
 * --------------------------------------- */
.section2{
	background:#F8E4AF;
}

.ms-left .section2{
	background-image: url("../../assets/projectImages/fairDraw7.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: auto 90%;
}

.fairDraw{
	left: 30%;
	width: 90%;
	height: 30em;
	text-align: center;
	vertical-align: middle;
}

.section2 h1{
	color: black;
}

.section2 h2{
	margin: 1.5em 0 0 0;
  	color: #414141;
  	display: linline; 
}

.section2 h2 img{
	width: 5em;
	height: 3em;
	border-radius: 25%;
}

.section2 p{
	margin: 1em 0 0 0;
	color: #555555;
}

.section2 .fa-github, .section2 .fa-chrome{
	color: black;
}

/* Section 3
 * --------------------------------------- */
.ms-left .section3{
  /* fallback */
  background-color: #e81639;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e81639), to(#7d0014));
  background: -webkit-linear-gradient(top, #e81639, #7d0014);
  background: -moz-linear-gradient(top, #e81639, #7d0014);
  background: -ms-linear-gradient(top, #e81639, #7d0014);
  background: -o-linear-gradient(top, #e81639, #7d0014);
}
.ms-right .section3{
	background-color: #e81639;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e81639), to(#7d0014));
	background-image: -webkit-linear-gradient(top, #e81639, #7d0014);
	background-image: -moz-linear-gradient(top, #e81639, #7d0014);
	background-image: -ms-linear-gradient(top, #e81639, #7d0014);
	background-image: -o-linear-gradient(top, #e81639, #7d0014);
}

.section3 h1{
 	color: #fff;
 }
.section3 h2{
 	margin: 15px 0 0 0;
	color: #cd8a91;
	color: rgba(255,255,255,0.5);
}
.section3 .content{
	margin-left: 15%;
	display: block;
	top: 20%;
	position: absolute;
	box-sizing: border-box;
}