<div class="footer">
    <div id="button"></div>
    <div id="container" class="globalContainer">
        <div id="cont">
            <div class="footer-group col col-md-3">
                <h3 class=" font-weight-bold">PROGRAMMATION</h3>
                <div class="button-footer-list">
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/angular.svg" width="80px" height="80px" alt="Angular" />
                        <p>Angular 8</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/nodeJS.svg" width="80px" height="80px" alt="Angular" />
                        <p>Node.JS</p>
                    </button>
                </div>
            </div>
            <div class="footer-group col-md-3">
                <h3 class="font-weight-bold">GRAPHISMES</h3>
                <div class="button-footer-list">
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/indesign.svg" width="80px" height="80px" alt="InDesign" />
                        <p>InDesign</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/photoshop.svg" width="80px" height="80px" alt="Photoshop" />
                        <p>Photoshop</p>
                    </button>
                </div>
            </div>
            <div class="footer-group col-md-3">
                <h3 class="font-weight-bold">MULTIMÉDIA</h3>
                <div class="button-footer-list">
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/lightroom.svg" width="80px" height="80px" alt="LightRoom" />
                        <p>LightRoom</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/premierePro.svg" width="80px" height="80px"
                            alt="PremierePro" />
                        <p>PremierePro</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img src="../../../assets/images/aftereffects.svg" width="80px" height="80px"
                            alt="AfterEffect" />
                        <p>AfterEffect</p>
                    </button>
                </div>
            </div>
            <div class="footer-group col-md-3">
                <h3 class="font-weight-bold">ME CONTACTER</h3>
            </div>
        </div>
        <div class="copyright">
            &copy; 2020 Joris Michel. All Rights Reserved.
        </div>
    </div>
</div>