<div class="footer">
    <div class="button"></div>
    <div class="globalContainer">
        <div class="cont row">
            <div class="footer-group col">
                <div class="footer-group-text">
                    <h3 class="font-weight-bold">PROGRAMMATION</h3>
                </div>
                <div class="button-footer-list">
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/angular.svg" alt="Angular" />
                        <p>Angular 8</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/nodeJS.svg" alt="NodeJS" />
                        <p>Node.JS</p>
                    </button>
                </div>
            </div>
            <div class="footer-group col">
                <div class="footer-group-text">
                    <h3 class="font-weight-bold">GRAPHISMES</h3>
                </div>
                <div class="button-footer-list">
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/indesign.svg" alt="InDesign" />
                        <p>InDesign</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/photoshop.svg" alt="Photoshop" />
                        <p>Photoshop</p>
                    </button>
                </div>
            </div>
            <div class="footer-group col">
                <div class="footer-group-text">
                    <h3 class="font-weight-bold">MULTIMÉDIA</h3>
                </div>
                <div class="button-footer-list">
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/lightroom.svg" alt="LightRoom" />
                        <p>LightRoom</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/premierePro.svg"
                            alt="PremierePro" />
                        <p>PremierePro</p>
                    </button>
                    <button class="footer-btn" href="#">
                        <img class="footerImg" src="../../../assets/images/aftereffects.svg"
                            alt="AfterEffect" />
                        <p>AfterEffect</p>
                    </button>
                </div>
            </div>
            <div class="footer-group col">
                <div class="footer-group-text">
                    <h3 class="font-weight-bold">ME CONTACTER</h3>
                </div>
                <div class="social-container">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f fa-9x"></i></a></li>
                        <li><a href="#"><i class="fa fa-at"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <i class="far fa-copyright"></i> 2020 Joris Michel. All Rights Reserved.
            </div>
        </div>
    </div>